 /* Registration Style */
 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
 }

 h1 {
     text-align: center;
     margin-bottom: 20px;
 }

 h2 {
     margin: 10px 0px;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
 }
/* Forms Layout */
 form {
     margin-top: 50px;
     display: flex;
     flex-direction: column;
     width: 50%;
     min-width: 100vh;
 }

 input,
 select {
     width: 100%;
     margin-top: 5px;
     margin-bottom: 10px;
 }

 .formContainer {
     border-bottom: 1px solid black;
     padding-bottom: 20px;
     width: 100%;
 }

 #parentForm {
     display: flex;
     flex-direction: row;
     gap: 20px;
 }

 .formLayout {
     display: flex;
     flex-direction: row;
     gap: 15px;
 }

 .labelInput {
     display: flex;
     flex-direction: column;
     width: 100%;
 }
 .btnDiv{
margin-top: 10px;
 }
 /* End Registration Style */

 /* Terms Registration Style */
 li{
    margin: 10px 0px;
 }
 .listLayout{
    margin: 5px 30px;
 }
 #agreementInput{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 50px;
 }
 #agreementInput input {
     width: 50px;
   
     

 }
